<div class="demo bottomright" style="z-index: 9999;">
  <button *ngIf="!disableMode" (click)="dialogSearch()" [disabled]="dialogSearchShow" color="" mat-mini-fab
    style="width: 50px;height: 50px;">
    <mat-icon style="font-size: 20px;color: white;">search</mat-icon>
  </button>
  <br><br>
  <button (click)="clean();toTop()" [disabled]="dialogSearchShow" mat-mini-fab color="primary"
    style="width: 50px;height: 50px;">
    <mat-icon style="font-size: 20px;">delete_outline</mat-icon>
  </button>
  <br><br>
  <button [disabled]="dialogSearchShow" (click)="controlCreateword()" mat-mini-fab
    [color]="(newMes=='คัดลอก')?'accent':'warn'" style="width: 50px;height: 50px;">

    <ng-container [ngSwitch]="newMes">
      <ng-container *ngSwitchCase="'คัดลอก'">
        <mat-icon style="font-size: 20px;color: white;">save</mat-icon>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-icon style="font-size: 20px;color: white;">library_books</mat-icon>
      </ng-container>
    </ng-container>
  </button>
  <div style="height: 50px;"></div>

</div>


<!-- <div style="position: fixed;z-index: 9999;margin-top: 35px;width: 100%;">
  <div style="height: auto;background-color:aqua ;overflow: hidden;">
    <div style="padding: 20px;">

      <h3 >พื้นฐานอนุบาล 1_Page_001-tile.jpg</h3>
    </div>

  </div>
</div> -->

<html style="width: 100%;">




<body *ngIf="load" style="background-color: aliceblue;height: 100%;width: 100%">


  <div id="top" style="align-items: center;width: 100%;">
    <mat-card style="height: auto;width: 100%;">
      <mat-card-title>ระบบสร้างรายการ</mat-card-title>
      <mat-card-subtitle>เลือกงานที่ต้องการสร้าง <br>*เวอร์ชัน Bata ver.2.0 แก้บัคแล้ว</mat-card-subtitle>
      <mat-card-actions style="padding: 30px;">



        <h2 *ngIf="!disableMode" style="color: rgb(162, 162, 162);">รูปแบบรายการ</h2>
        <div *ngIf="!disableMode" class="test-mat-toolbar" style="margin-top: -10px;">

          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button (change)="clean()" value="file" style="font-size: 15px;">ไฟล์เท่านั้น</mat-radio-button>
            &nbsp;
            <mat-radio-button (change)="clean()" value="print" style="font-size: 15px;">สั่งปริ้น</mat-radio-button>
            &nbsp;
            <mat-radio-button (change)="clean()" value="*" style="font-size: 15px;">ผสม</mat-radio-button>
          </mat-radio-group>
          <br>
          <div style="height: 5px;"></div>

        </div>


        <br *ngIf="!disableMode">
        <div *ngIf="!disableMode" [ngSwitch]="labelPosition">
          <div *ngSwitchCase="'file'">
            เลือกไฟล์และคำนวณราคา + โปรโมชัน
          </div>
          <div *ngSwitchCase="'print'">
            สั่ง 1 ชิ้น ค่าส่ง = 30 &nbsp; | &nbsp;
            สั่ง 2 ชิ้น ค่าส่ง = 40 &nbsp; | &nbsp;
            สั่ง 3 ชิ้น ค่าส่ง = 45 &nbsp; | &nbsp;
            สั่ง 4 ชิ้น ค่าส่ง = 50 &nbsp; | &nbsp;
            สั่ง 5 ชิ้นขึ้นไป ค่าส่ง = 60 (เท่านั้น)&nbsp;
          </div>
          <div *ngSwitchCase="'*'">
            แยกราคาแบบไฟล์และแบบปริ้นออกจากกัน
          </div>
        </div>


        <div class="test2-mat-toolbar" [ngStyle]="{'top':disableMode?'0px':'35px'}">

          <h2 style="color: rgb(162, 162, 162);">รายการที่เลือก</h2>
          <div #scrollOrder style="overflow: auto;max-height: 100px;padding: 10px;margin-top: -10px;">
            <ul>
              <li *ngFor="let temp of selectionTemp">
                {{temp}}
              </li>
            </ul>
          </div>

          <div style="height: 5px;"></div>
        </div>

        <br *ngIf="!disableMode">

        <ng-container *ngFor="let category of ShowData;let i = index">



          <h1 [id]="category.category" style="color: rgb(162, 162, 162);">{{category.category}} &nbsp;
            <mat-checkbox *ngIf="labelPosition == 'file'" [(ngModel)]="category.selectAll" (click)="selectAll(i)">&nbsp;
            </mat-checkbox>
          </h1>


          <div class="checkbox-column">
            <section>
              <ng-container *ngFor="let list of category.list;let j = index">



                <div [ngSwitch]="labelPosition">
                  <div *ngSwitchCase="'print'">

                    <p>
                      <mat-checkbox style="font-size: 15px;" [disabled]="(list.price_print == -1)?true:false"
                        [(ngModel)]="list.selection.selection_print" (click)="openDialog(i,j)">
                        {{list.name}}
                      </mat-checkbox>

                      <span *ngIf="this.ShowData[i].list[j].selection.selection_print">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button (click)="upPrintNumber(i,j,false)" class="button-number">-</button>
                        <input [(ngModel)]="this.ShowData[i].list[j].print_selection"
                          style="height: 23px;width: 25px;background-color: rgb(76, 76, 76);color: white;" disabled>
                        <button (click)="upPrintNumber(i,j,true)" class="button-number">+</button>
                      </span>

                    </p>





                  </div>
                  <div *ngSwitchCase="'file'">

                    <p>
                      <mat-checkbox style="font-size: 15px;" [(ngModel)]="list.selection.selection_file"
                        (click)="openDialog(i,j)">
                        {{list.name}}
                      </mat-checkbox>
                    </p>

                  </div>
                  <div *ngSwitchCase="'*'">

                    <p>
                      <mat-checkbox style="font-size: 15px;" [(ngModel)]="list.selection.selection_all"
                        (click)="openDialog(i,j)">
                        {{list.name}}
                        {{

                        (this.ShowData[i].list[j].selection.selection_all)?
                        (this.ShowData[i].list[j].selection.selection_file &&
                        this.ShowData[i].list[j].selection.selection_print)?'(ไฟล์)(ปริ้น)':((this.ShowData[i].list[j].selection.selection_file)?"(ไฟล์)":(this.ShowData[i].list[j].selection.selection_print)?"(ปริ้น)":''):''}}
                      </mat-checkbox>

                      <span
                        *ngIf="this.ShowData[i].list[j].selection.selection_print && this.ShowData[i].list[j].selection.selection_all">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button (click)="upPrintNumber(i,j,false)" class="button-number">-</button>
                        <input [(ngModel)]="this.ShowData[i].list[j].print_selection"
                          style="height: 23px;width: 25px;background-color: rgb(76, 76, 76);color: white;" disabled>
                        <button (click)="upPrintNumber(i,j,true)" class="button-number">+</button>
                      </span>

                    </p>

                  </div>

                </div>


              </ng-container>
            </section>
          </div>
          <hr style="border: 1px solid rgb(108, 108, 108);">

        </ng-container>




        <br>

        <div *ngIf="!disableMode">
          <button (click)="showAllData()" mat-raised-button style="width: 100%;">
            {{(!isshowAll)?'แสดงสื่อการสอนทั้งหมด':'ปิดสื่อการสอนทั้งหมด'}}</button>
        </div>
        <br>
        <div>
          <button [color]="'accent'" mat-raised-button (click)="controlCreateword()" style="width: 100%;">
            <mat-icon style="font-size: 20px;">save</mat-icon>สร้างรายการ
          </button>
        </div>

        <br>

        <div style="width: 100%;">

          <p style="align-items: center;">
            <span>
              <button [color]="'warn'" mat-raised-button (click)="copyMessage('This goes to Clipboard')"
                style="width: 50%;">
                <mat-icon style="font-size: 20px;color: white;">library_books</mat-icon>{{newMes}}
              </button>
            </span>
            <span>
              <button [color]="'primary'" (click)="clean();toTop()" mat-raised-button style="width: 50%;">
                <mat-icon style="font-size: 20px;">delete_outline</mat-icon>ล้าง
              </button>
            </span>
          </p>


        </div>

        <br>

        <mat-form-field class="example-full-width" style="width: 100%;height: auto;" appearance="fill">
          <mat-label>ผลลัพธ์</mat-label>
          <textarea disabled="true" id="working" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            style="overflow: hidden;" [(ngModel)]="word" placeholder="คุณไม่จำเป็นต้องกดคลิกที่นี่"></textarea>
        </mat-form-field>

      </mat-card-actions>



    </mat-card>
  </div>



</body>

</html>